@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

button {
  border: 1px solid #171717;
  border-radius: 50%;
  background-color: #171717;
  color: #FAFAFA;
  height: 30px;
  width: 30px;
  font-family: Roboto;
}

.red {
  color: #FF6666;
}

.green {
  color: #9CD260;
}

.green-bg {
  border: 1px solid #427E04;
  background-color: #427E04;
}
