@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

button {
  border: 1px solid #171717;
  border-radius: 50%;
  background-color: #171717;
  color: #FAFAFA;
  height: 50px;
  width: 50px;
  font-family: Roboto;
  font-size: 28px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.parentheses {
  font-size: 20px;
}

.red {
  color: #FF6666;
}

.green {
  color: #9CD260;
}

.green-bg {
  border: 1px solid #427E04;
  background-color: #427E04;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(10, 75px);
  grid-template-columns: repeat(4, 75px);
}
