@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

button {
  border: 1px solid #171717;
  border-radius: 50%;
  background-color: #171717;
  color: #FAFAFA;
  height: 50px;
  width: 50px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
}

button:active {
  background-color: #444444;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.small {
  font-size: 20px;
}

button:active.small {
  font-size: 15px;
}

.red {
  color: #FF6666;
}

.green {
  color: #9CD260;
}

.green-bg {
  border: 1px solid #427E04;
  background-color: #427E04;
}

button:active.green-bg {
  background-color: #679734;
}  

.grid {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(10, 55px);
  grid-template-columns: repeat(4, 60px);
  height: 550px;
  width: 240px;
  background-color: #010101;
  margin: auto;
}

#display {
  grid-row: span 5;
  grid-column: span 4;
  background-color: #010101;
  width: 100%;
  color: #FAFAFA;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 20px 20px 0 auto;
  text-align: right;
  font-weight: 300;
}
